@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3f4662;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
}

main {
  width: 100vw;
  height: 100vh;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 25% 5% 25%;

    .result {
      background-color: rgb(24, 31, 50);
      border-radius: 10px;

      p {
        text-align: right;
        margin: 1vw 2vw 1vw 0vw;
      }
    }

    .btn {
      background-color: rgb(37, 45, 68);
      border-radius: 10px;
      padding: 4%;
      margin-top: 5px;

      .key_line {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 0px 20px 0px;

        .margen-boton {
          padding: 0px 20px 0px 20px;
          width: 100%;

          .number {
            border-radius: 5px;
            width: 100%;
            color: rgb(70, 75, 94);
            background-color: rgb(234, 227, 219);
            box-shadow: rgb(182, 163, 153) 0px 4px 0px;
            cursor: pointer;
            user-select: none;
          }

          .key-reset {
            border-radius: 5px;
            width: 100%;
            background-color: rgb(100, 113, 153);
            box-shadow: rgb(66, 78, 115) 0px 4px 0px;
            user-select: none;
            cursor: pointer;
          }

          .key-equal {
            border-radius: 5px;
            width: 100%;
            background-color: rgb(209, 63, 48);
            box-shadow: rgb(144, 34, 25) 0px 4px 0px;
            user-select: none;
            cursor: pointer;
          }

          .text-center {
            text-align: center !important;
          }
        }
      }
    }
  }
}
